    /* Font */

@import url(../style/fonts/stylesheet.css);

    /* normalize */

* {
font-family: "TT Lakes", sans-serif;
padding: 0;
margin: 0;
box-sizing: border-box;
}

    /* General */

button{
    background: transparent;
    border: none;
    cursor: pointer;
}

.wrapper {
max-width: 1440px;
width: 100%;
overflow: hidden;
margin: 0 auto;
}

.container{
max-width:  1440px;
width: 100%;
padding: 0 16px;
margin: 0 auto;
}

.header{
height: 88px;
padding: 18px 0;
border-bottom: 1px solid #D9FFF5;
}

.header__row {
display: flex;
justify-content: space-between;
align-items: center;
}

.header__part-one, .header__part-two{
display: flex;
gap: 16px;
align-items: center;
}



.icon--burger{
position: relative;
}
.header__splitter-element-1{
    display: none;
}

.icon--burger span, .icon--burger::before, .icon--burger::after{
position: absolute;
background-color: #fff;
border-radius: 1px;
height: 2px;
left: 11px;
}

.icon--burger::before, .icon--burger::after{
content: "";
}

.icon--burger::before{
top: 12px;
width: 18px;
}

.icon--burger span{
width: 10px;
top: 19px;
}

.icon--burger::after{
 width: 14px;
 top: 26px;
}

.header__logo {
position: relative;
  img {
    width: 96px;
    height: 50px;
  }
}
.icon{
display: flex;
width: 40px;
height: 40px;
border-radius: 50%;
background-color: #FF3E79;
justify-content: center;
align-items: center;
}

.icon--repair{
position: relative;
}
.icon--repair::before{
    content: "";
    position: absolute;
    border: 1px solid #EAEAEA;
    height: 32px;
    left: -23px;
}


.icon--phone,.icon--message,.icon--human{
display: none;
}

.main{
background-color:  #F8F8F8;
}

.services__title{
font-size: 28px;
line-height: 40px;
letter-spacing: -0.6px;
position: relative;
font-weight: 700;
padding:  24px 0;
}

.services__title::before{
content: "";
width: 4px;
height: 40px;
position: absolute;
background-color:  #41F6D7;
border-radius: 50px;
left: -17px;
}

.services__menu{
margin: 0 -16px 24px -16px;
}

.menu__row{
display: flex;
justify-content: flex-start;
align-items: center;
position: relative;
overflow: hidden;
}

.menu__row::before, .menu__row::after {
content: "";
width: 24px;
height: 40px;
position: absolute;
background: linear-gradient(90deg, #f8f8f8 20%, transparent 70%);
}

.menu__row::after{
right: 0;
background: linear-gradient(270deg, #f8f8f8 20%, transparent 70%);
}

.menu__items{
display: flex;
justify-content: flex-start;
align-items: center;
overflow-x: scroll;
list-style: none;
scrollbar-width: none;
}

.menu__item{
padding: 8px 16px ;
white-space: nowrap;
letter-spacing: -0.2px;
> a{
    text-decoration: none;
    color: #7E7E82;
    font-weight: 500;
}
}

.menu__item--active{
border: 2px solid #B8FFEC;
border-radius: 6px;
background-color: #fff;
margin-left: 16px;
}

.about-us__content{
display: flex;
flex-direction: column;
}

.about-us__text p{
font-size: 14px;
line-height: 18px;
letter-spacing: 0.2px;
max-height: 90px;
overflow: hidden;
}

.about-us__text-continuation{
line-height: 24px;
letter-spacing: -0.2px;
font-weight: 500;
margin: 16px 0;
position: relative;
margin-left: 32px;
}

.about-us__text-continuation::before{
position: absolute;
content: url(../img/icons/icon-expand.svg);
left: -32px;
}

.about-us__img{
margin: 0 -16px;
img{
    height: 100%;
    width: 100%;
 }
}
.services__buttons{
    display: none;
}

@media(min-width: 768px){
    .about-us__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 48px;
    }
    .about-us__img{
        img{
            border-radius: 8px 0 0 8px;
         }
    }
    .about-us__text p{
        max-height: 160px;
        line-height: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1119px) {
    .icon--phone,.icon--message,.icon--human{
        display: flex;
        }
        .about-us__text p{
            max-width: 312px
        }
        .header__part-one{
            gap:42px ;
        }
.header__logo::before{
        content: "";
        position: absolute;
        left: -20px;
        top: 9px;
        border: 1px solid #EAEAEA ;
        height: 32px;
}
.icon--human{
margin-right: 25px;
}
.icon--repair::before{
left: -20px;
}

}
@media (min-width:1119px){
.container{
    padding: 0 32px;
}
    .header{
        display: none;
    }
    .icon--repair::before{
        height: 0;
    }
    .services__buttons{
        display: flex;
        gap: 32px;
    }
    .services__button{
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .services__content{
        display: flex;
        justify-content: space-between;
    }
    .services__title::before{
        left: -32px;
    }
    .menu__items{
        overflow-x: hidden;
        flex-wrap: wrap;
        margin-left:20px ;
    }
    .menu__item--active{
        margin-left: 0;
    }

    .about-us__content{
        gap: 36px;
    }

}


